*{

	margin: 0px;
	padding:0px;
}
div.main{

	margin: 0px auto;
	/*background-color: blue;*/
	/*height: 200px;*/
	width: 85%;
	padding: 0.8%;

}
div#header{

	background-color: black;
	color: white;
	/*height: 300px;*/
	font-size: 14px;
	position: fixed;
	width: 100%;
	margin-top: -4%;

}
div#header div.main div#logo{

height: 30px;
width: 4%;
/*background-color: white;*/
border-radius: 100%;
float: left;

}
div#header div.main div#logo img{
	width: 100%;
}
div#header div.main div#pic{
height: 30px;
width: 3%;
background-color: white;
float: right;
margin-top: 6px;
/*margin-right: 50px;*/
}


div#header div.main div#name{

height: 30px;
/*width: 10%;*/
/*background-color: gray;*/
float: right;	
margin-right: 15%;
margin-left: 1%;
margin-top: 6px;
}


div#header div.main div#info{

	/*width: 250px;*/
	/*height: 10px;*/
	/*background-color: white;*/
	float: right;
	padding-top: 4px;
	margin-top: 6px;
}

div#header div.main div#info a{

margin-right: 20px;
text-decoration: none;
color: white;


}
div#body{


	height: 600px;
	/*background-color: lightblue;*/
	margin-top: 4%;
}
div#body div.main div#sidebar{
	/*background-color: red;*/
	/*height: 200px;*/
	float: left;
width: 22%;
margin-right: 5%;
/*overflow: hidden;*/
}
 div#body div.main div.distance{

	margin-top: 3% !important;
	
}


div#body div.main div#sidebar div.accordion{
   
    height: 220px;
    /*margin: 0% auto;*/
    /*width: 70%;*/
    background-color: black;
    padding: 8%;
    border-radius: 15px;

    
	

}

 
div#body div.main div#sidebar div.accordion h3:hover {
	background-color: #e3e2e2;
}
div#body div.main div#sidebar div.accordion h3.active {
	background-position: right 5px;
}



div#body div.main div#sidebar div.accordion h3 {
	background: #e9e7e7 url(../images/arrow-square.gif) no-repeat right -51px;
	padding: 3px 15px;
	margin: 0;
	font: bold 16px Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
	border-radius: 6px;
	width: 80%;
	
}

div#body div.main div#sidebar div.accordion p {
	background: black;
	margin: 0;
	padding: 10px 15px 20px;
	
}
div#body div.main div#sidebar div.accordion p a{

text-decoration: none;
color: white;
display: block;
margin-top: 6%;

}
div#body div.main div#sidebar div.accordion h3.search{

	margin-top: 10%;
}

div#body div.main div#sidebar div#patient-detail{
height: 250px;
width: 84%;
border-radius: 15px;
background-color: black;
float: left;
clear: left;
margin-top: 8%;
 padding: 8%;



}



div#body div.main div#content{

	height: 560px;
	/*background-color: white;*/
    width: 73%;
    float: left;
    margin-top: 3%;
    border-radius: 15px;
    
    
}
div#body div.main div#content div#create-patient{

	height: 500px;
	background-color: white;
    width: 55%;
    padding: 2% 3%;
    float: left;
   position: absolute;
   display: none;
    border-radius: 15px;
    box-shadow: -1px -1px 15px #333333;
   
}
div#body div.main div#content div#old-patient{

	height: 500px;
	background-color: white;
    width: 42%;
    padding: 2% 3%;
    float: left;
   position: absolute;
   display: none;
    border-radius: 15px;
    box-shadow: -1px -1px 15px #333333;
    top: 85px;
    left: 259px;
}
div#body div.main div#content #search-record{

	height: 500px;
	background-color: white;
    width:55%;
    padding: 2% 3%;
    float: left;
    display: none;
    position: absolute;
    border-radius: 15px;
    box-shadow: -1px -1px 15px #333333;
    
}